.fav-hero-container {
  background-color: #fad4d4;
  padding: 10px 20px;
  margin: 60px auto;
  height: 7rem;
  width: 1000px;
}

.fav-hero-container-dark {
  background-color: #0f0e0e;
  padding: 10px 20px;
  margin: 60px auto;
  height: 7rem;
  width: 1000px;
}

.fav-hero-text {
  color: #fff;
}
.fav-hero-text-dark {
  color: rgb(222, 217, 217);
}

.flex-container {
  display: flex;
  color: #fff;
}

.flex-container-dark {
  display: flex;
  color: #fff;
}

.note {
  margin-left: 10px;
}
