.hero-container {
  width: 85%;
  margin: 30px auto;
  height: 800px;
  text-align: center;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.text {
  width: 30%;
  align-self: center;
  margin: 0 auto;
  text-align: left;
}
.carousel {
  height: 400px;
  width: 35%;
  margin: 0 auto;
}

.carousel-item {
  height: 400px;
  position: relative;
}

img {
  height: 100%;
  width: 50%;
}

.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev-icon {
  display: none;
}

h1 {
  font-size: 3em;
  font-weight: bolder;
  margin: 0 auto 100px;
  letter-spacing: 5px;
}

p {
  line-height: 2;
  font-size: 1em;
}

.fun-facts {
  margin-left: 10px;
}
