.hero-container {
  width: 85%;
  margin: 30px auto;
  text-align: center;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .hero {
    display: block;
  }
  .reaction {
    text-align: center;
  }
}

.text {
  width: 50%;
  align-self: center;
  margin: 0 auto;
  text-align: left;
}

h1 {
  font-size: 3em;
  font-weight: bolder;
  margin: 0 auto 100px;
  letter-spacing: 5px;
}

.reaction {
  line-height: 2;
  font-size: 1em;
}
