@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.fav-countries-container {
  margin-top: 6rem;
  width: 670px;
  margin: auto;
}

/* .fav-countries-grid-container {
  text-align: center;
  width: 700px;
  margin: auto;
} */

@media screen and (max-width: 898px) {
  .fav-countries-container {
    width: 450px;
  }
}

@media screen and (max-width: 597px) {
  .fav-countries-container {
    width: 230px;
  }
}

.grid-item-container {
  background-color: #f0f0f0;
  height: 220px;
  width: 220px;
}

.grid-item-container-dark {
  background-color: #354556;
  height: 220px;
  width: 220px;
}

.icon-container {
  padding-top: 5px;
  margin-left: 80%;
}

.icon {
  font-weight: bolder;
  font-size: 3em;
  cursor: pointer;
}

.flag-name-container {
  text-align: center;
}

.flag-container {
  width: 220px;
  height: 150px;
  text-align: center;
}

.flag {
  width: 70%;
  height: 80%;
  margin-top: 10px;
}

.name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "montserrat";
  letter-spacing: 2px;
}

.name-dark {
  color: rgb(222, 217, 217);
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: "montserrat";
  letter-spacing: 2px;
}
