.fav-hero-container {
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin: 60px auto;

  width: 670px;
}

.fav-hero-container-dark {
  background-color: #354556;
  padding: 10px 20px;
  margin: 60px auto;
  width: 670px;
}

@media screen and (max-width: 898px) {
  .fav-hero-container-dark {
    width: 450px;
  }
  .fav-hero-container {
    width: 450px;
  }
}

.fav-hero-text {
  color: #383838;
}
.fav-hero-text-dark {
  color: #fff;
}

.flex-container {
  display: flex;
  color: #383838;
}

.flex-container-dark {
  display: flex;
  color: #fff;
}

.note {
  margin-left: 10px;
}
