.button-container {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}
.button {
  margin: 0 100px;
  text-align: center;
  width: 100%;
}

.button:hover {
  color: chocolate;
}

.flag {
  padding: 0;
  margin: 0;
  height: 30px;
  width: 30px;
  font-size: 1.5em;
}
