@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.navbar-container {
  height: 100px;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.navbar-container-dark {
  background-color: #435b71;
  height: 100px;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.children1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px 100px;
}

.sub-children1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 10px;
  color: black;
  font-family: "lobster";
  font-weight: bold;
  font-size: 2em;
}

.logo-dark {
  margin-top: 10px;
  color: #fff;
  font-family: "lobster";
  font-weight: bold;
  font-size: 2em;
}

.home-icon {
  color: black;
  margin-right: 30px;
  cursor: pointer;
}

.home-icon-dark {
  color: #fff;
  margin-right: 30px;
  cursor: pointer;
}
