.carousel {
  height: 400px;
  width: 35%;
  margin: 0 auto;
}

.carousel-item {
  height: 400px;
  position: relative;
}

img {
  height: 100%;
  width: 50%;
}

.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev-icon {
  display: none;
}
