.footer-container {
  padding: 0 30px;
  height: 4rem;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2e0249;
}
.social {
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

.copyright-text {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
