.footer-container {
  padding: 0 100px;
  height: 4rem;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  margin-right: 20px;
  color: black;
  cursor: pointer;
}

.footer-icon-dark {
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}

.copyright-text {
  color: black;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.copyright-text-dark {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

@media screen and (max-width: 900px) {
  .copyright-text,
  .copyright-text-dark {
    font-size: 0.7em;
  }
}
